<%=form_for @guest do |form|%>
  <%= render partial: 'form', locals: { f: form} %>
<%end%>

<% if @guest.errors.any? %>
  <div class="form-error">
    <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
