<div class="fluid-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 centered">
      <%=form_for @guest do |form|%>
        <%= render partial: 'form', locals: { f: form} %>
      <%end%>
    </div>
  </div>


    <!-- displays form errors -->
    <% if @guest.errors.any? %>
      <div class="form-error">
        <ul>
          <% @guest.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>
